<script src="/scripts/edit-profile.js"></script>
<div class="main__user-information user-information">
  <a class="user-information__photo-link"
     href="http://localhost:63342/Web-Programming-Course/Fellow-Students/index.html">
    <img
      class="user-avatar"
      src="/images/avatar.jpg"
      alt=""
    >
  </a>
  {{#if me}}
    <form class="user-facts user-information__some-facts"
          action="/profile/edit/{{me.id}}"
    >
      <div class="user-fact user-facts__elem">
        <label for="lastname">Фамилия</label>
        <input type="text" name="lastname" id="lastname" autocomplete="off" required
          {{#if me.profile.lastname}}
               value="{{me.profile.lastname}}"
          {{/if}}
        />
      </div>
      <div class="user-fact user-facts__elem">
        <label for="firstname">Имя</label>
        <input type="text" name="firstname" id="firstname" autocomplete="off" required
          {{#if me.profile.firstname}}
               value="{{me.profile.firstname}}"
          {{/if}}
        />
      </div>
      <div class="user-fact user-facts__elem">
        <label for="surname">Отчество</label>
        <input type="text" name="surname" id="surname" autocomplete="off"
          {{#if me.profile.surname}}
               value="{{me.profile.surname}}"
          {{/if}}
        />
      </div>
      <div class="user-fact user-facts__elem">
        <label for="city">Город</label>
        <input type="text" name="city" id="city" autocomplete="off"
          {{#if me.profile.city}}
               value="{{me.profile.city}}"
          {{/if}}
        />
      </div>
      <div class="user-fact user-facts__elem">
        <label for="school">Школа</label>
        <input type="text" name="school" id="school" autocomplete="off"
          {{#if me.profile.school}}
               value="{{me.profile.school}}"
          {{/if}}
        />
      </div>
      <div class="user-fact user-facts__elem">
        <label for="university">Университет</label>
        <input type="text" name="university" id="university" autocomplete="off"
          {{#if me.profile.university}}
               value="{{me.profile.university}}"
          {{/if}}
        />
      </div>
      <div class="user-fact user-facts__elem">
        <div class="save-form-item button-div">
          <button type="submit">Сохранить</button>
        </div>
      </div>
    </form>
  {{/if}}
</div>